<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/cadastro.css" />
    <title>formulario</title>
  </head>
  <body>
    <div id="form">
      <form action="">
        <h2 class="title">CADASTRE-SE</h2>
        <div class="container-img">
          <img src="../assets/img/rick-login.png" alt="imagem-de-rick" />
        </div>
        <div class="input">
          <input
            id="Username"
            name="Username"
            placeholder="DIGITE SEU NOME COMPLETO"
            type="text"
          />
        </div>
        <div class="input">
          <input
            id="Email"
            name="Email"
            placeholder="DIGITE SEU EMAIL"
            type="text"
          />
        </div>
        <div class="input">
          <input
            id="Password"
            name="SENHA"
            placeholder="DIGITE SUA SENHA"
            type="text"
          />
        </div>
        <div id="btn">
          <button type="submit">Cadastrar</button>
        </div>
      </form>
    </div>
  </body>
</html>
