<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devs</title>
    <link rel="stylesheet" href="../assets/css/devs.css">
    <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
</head>
<body>
    <h1>devs</h1>
    <section class="container-devs">
        <!-- Slider main container -->
     <div class="swiper">
    <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
      <!-- Slides -->
        <div class="swiper-slide" id="dev1"> 
            <img src="#" alt="">
            <h2>Jean Carlos</h2>
            <p>Lorem ipsum dolor sit ametadipisicing elit.</p>
            <a href="#"><img src="#" alt="">jeancarloslr</a>
        </div>
        <div class="swiper-slide" id="dev2"> 
            <img src="#" alt="">
            <h2>Jean Carlos</h2>
            <p>Lorem ipsum dolor sit ametadipisicing elit.</p>
            <a href="#"><img src="#" alt="">jeancarloslr</a>
        </div>

        <div class="swiper-slide" id="dev3"> 
            <img src="#" alt="">
            <h2>Jean Carlos</h2>
            <p>Lorem ipsum dolor sit ametadipisicing elit.</p>
            <a href="#"><img src="#" alt="">jeancarloslr</a>
        </div>
      </div>
  
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  
    </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../devs.js"></script>
</body>
</html>