@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    font-family: "open-sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(46, 45, 45);
}

.login{
    position: relative;
    width: 30%;
    height: 60vh;
    border-radius: 20px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.37) 24.81%, rgba(80, 183, 65, 0.47) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    position: absolute;
    top: 7%;
    bottom: 20%;
    font: normal 700 2rem 'Open-sans', sans-serif;
    color: white;
    text-align: center;
}

form{
    position: absolute;
    top: 53%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.dados-form{
    width: 80%;
    height: 4vh;
    border-radius: 19px;
    border: none;
    padding: 5px;
    background-image: linear-gradient(to right, #50B741, #067242);
}

.dados-form::placeholder{
    font: normal bolder 0.9rem "Open Sans";
    padding-left: 10px;
    color: rgba(255, 255, 255, 0.532);
  
}

